/* Preview.css */

.Preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

canvas {
  border: 1px solid #ccc
}

.previewScaleButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 600px;
}

.scaleButton {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.scaleButton:active {
  background-color: #CCCCCC;
  color: #2d4c88
}

.scaleButtonSelected {
  background-color: #CCCCCC;
  color: #2d4c88
}

/* #hiddenCanvas {
  display: none;
} */