/* SizeAndPaper.css */

.sizeAndPaper {
  width: 80%;

}

.imgSizeInput {
  margin-left: 1em;
}

.widthHeightInputs {
  display: flex;
}

.innerWidthHeight {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

#applyButton {
  margin-top: 1em;
  width: 200px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

#applyButton:active {
  background-color: #cccccc;
  color: #2d4c88;
}

.sizeBlurb {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em 0;
}

.exportButton {
  color: white;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.exportButton:active {
  background-color: #CCCCCC;
  color: #2d4c88
}